- content_for :head do
  %title= @room
  %script
    var room = new Derp.Room('#{@room}', '#{@user}');

.container
  .row
    .span8.offset2
      %h2= @room
      %div#form
        %form.form-inline#comment_form{:onsubmit => 'room.sendMessage(); return false'}
          %input.span4#comment{:type=>'text'}
          %input#submit.btn.info{:type=>'button', :value=>'send', :onclick=>'room.sendMessage();'}
        %span#msg

      %table.table.table-condensed#comments

