@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";

.message {
  .clearfix();
  margin-bottom: 16px;
  margin-left: -20px;

  .username {
    .makeColumn(2);
    color: @blue;
    &.myself {
      color: @green;
    }
    &.system {
      color: @orange;
    }
  }
  .comment {
    .makeColumn(6);
  }
}

.room-heading {
  margin-bottom: 32px;
}

#comment_form {
  #msg {
    padding-left: 18px;
  }
}
